  .navbar {
      background-color: #e61d31;
      color: #fff;
      padding: 0 5%;
      padding-block: 10px;
  }

  .nav_logo {
      height: 150px;
      width: 150px;
      border: 2px solid;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../images/logo.png);
      background-position: center;
      background-size: cover;
     
  }

  .navbar_details {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

 

  .official {
      text-align: center;
  }

  .official button {
      padding: 15px 45px;
      background-color: #e61d31;
      margin-block: 30px;
      border: none;
      color: #fff;
      font-family: "Caudex", serif;
      border-radius: 40px;

  }

  .print_all {
      padding: 0 5%;
  }

  .print_grid {
      display: flex;
      justify-content: space-between;
  }

  .print_grid p {
      border-bottom: 2px solid;
      width: 100%;
      margin-top: 10px;
      padding-block: 20px;
  }

  .print_grid strong {
      border-bottom: 0px solid;
      background-color: #e61d31;
      padding: 10px;
      color: #fff;
      margin-right: 30px;
  }

  .print_btn {
      margin-top: 70px;
  }

  .print_btn button {
      padding: 15px 45px;
      font-family: "Caudex", serif;
      text-transform: uppercase;
      background-color: #e61d31;
      color: #fff;
  }

  .footer {
      background-color: #e61d31;
      color: #fff;
      padding: 0 5%;
      padding-block: 30px;
      text-align: center;
      margin-top: 50px;
      width: 100%;
  }
.sign{
    padding: 0 5%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
  @media print {
      body {
          -webkit-print-color-adjust: exact;
          /* For Chrome and Safari */
          background-color: #ffffff;
          /* Set the background color */
      }

      /* Hide the print button when printing */
      button {
          display: none;
      }
  }